@using Agenda_Web.Services
@using Microsoft.AspNetCore.Mvc.Localization

@model PageList<Agenda_Models.LogError>

@inject IViewLocalizer _localizer
@inject IHtmlLocalizer<SharedResource> _shared

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @_localizer["Time Stamp"]
            </th>
            <th>
                @_localizer["Application"]
            </th>
            <th>
                @_localizer["Device Name"]
            </th>
            <th>
                @_localizer["Level"]
            </th>
            <th>
                @_localizer["Thread Id"]
            </th>
            <th>
                @_localizer["Event Id"]
            </th>
            <th>
                @_localizer["Event Name"]
            </th>
            <th></th>
        </tr>
        <tr>
            <form asp-action="Index" asp-controller="LogErrors" method="get">
            <th></th>
            <th>
                <input type="text" name="application" class="form-control" value="@ViewBag.application" placeholder="?" onchange="$(this.form).submit();" />
            </th>
            <th></th>
            <th>
                <input type="text" name="level" class="form-control" value="@ViewBag.level" placeholder="?" onchange="$(this.form).submit();" />
            </th>
            <th></th>
            </form>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.LogLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@_shared["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@_shared["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<a asp-action="Index"
   asp-route-type=@ViewData["Type"]
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-application=@ViewBag.application
   asp-route-level="@ViewBag.level"
   class="btn btn-default @prevDisabled">
    @_shared["Previous"]
</a>
<a asp-action="Index"
   asp-route-type=@ViewData["Type"]
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-application=@ViewBag.application
   asp-route-level="@ViewBag.level"
   class="btn btn-default @nextDisabled">
    @_shared["Next"]
</a>


