@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<Agenda_Models.AppointmentType>

@inject IViewLocalizer _localizer
@inject IHtmlLocalizer<SharedResource> _shared

@{
    ViewData["Title"] = "Index";
}

<h1>@_shared["Lijst"]</h1>

<p>
    <a asp-action="Create">@_shared["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <partial name="EditType" model="item"/>   @*Html.Partial("EditType", item)*@

}
    </tbody>
</table>

